.filter {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f5f5f5;
}

.edit-btn {
    padding: 5px 10px;
    background-color: #2196f3;
    color: white;
    border: none;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #0b7dda;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #da190b;
}